nav {
    display: flex;
    background-color: rgb(21, 20, 20);
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 30px;
}
.nav-container a{
    padding: 10px;
    margin: 0 15px;
    color: white;
}